* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/Bubbletown_002.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4096ee;
    background-attachment: fixed;
}

#patrick {
    height: 100px;
    /*width: 15%;*/
    display: inline;
    position: absolute;
    top: 600px;
    left: 900px;

}


#quote-cloud img {
    width: 30%;
    height: 30%;
}
#quote-cloud {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 0;
}


#quote-cloud figcaption{
    text-align: center;
    width: 20%;
    position: absolute;
    font-family: 'My Custom Font', Verdana, serif;
    color: black;
    font-size: 40px;
    top: 37%;
    bottom: 50%;
    left: 43%;

}


#quote-cloud  #no {
    border-style: none;
    background: none;
    position: absolute;
    top: 100px;
    left: 10px;
    font-family: 'My Custom Font', Verdana, serif;
    font-size: 40px;
}

#quote-cloud  #yes {
    border-style: none;
    background: none;
    position: absolute;
    top: 100px;
    left: 300px;
    font-size: 40px;
    font-family: 'My Custom Font', Verdana, serif;
}

#volume {
    border-style: none;
    background: none;
}

#sponge {
    height: 100px;
    position: absolute;
    left: 900px;
    top: 600px;
    opacity: 0;
}

#gary {
    height: 70px;
    position: absolute;
    left: 1200px;
    top: 500px;
    opacity: 0;
}

audio {
    display: none;
}

#the_end {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
}
